<%- include ("../partials/header.ejs") %>

    <style>
        .register {
            background: -webkit-linear-gradient(left, #41455D, #41453D);
            margin-top: 3%;
            padding: 3%;
        }

        .register-left {
            text-align: center;
            color: #fff;
            margin-top: 4%;
        }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

        .register-right {
            background: #f8f9fa;
            border-top-left-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
        }

        .register-left img {
            margin-top: 15%;
            margin-bottom: 5%;
            width: 25%;
            -webkit-animation: mover 2s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        @-webkit-keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        .register-left p {
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }

        .register .register-form {
            padding: 10%;
            margin-top: 10%;
        }

        .btnRegister {
            float: right;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #41453D;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }

        .register .nav-tabs {
            margin-top: 3%;
            border: none;
            background: #41453D;
            border-radius: 1.5rem;
            width: 28%;
            float: right;
        }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #41453D;
            border: 2px solid #41455D;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        .register-heading {
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }
    </style>

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?cs=srgb&dl=pexels-victor-freitas-841130.jpg&fm=jpg"
                    alt="" />
                <h3>BIENVENUE</h3>
                <p>Vous etes 30 secs diashfijashgfioashfip!</p>
                <input type="submit" name="" value="Connecter" /><br />
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Employé(e)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Embaucheur(euse)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Appliquer comme Employé(e)</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prénom *" id="firstName" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom*" id="lastName" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de Passe*" id="password" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirmé Mot de Passe *"
                                        value="" id="confirmPassword"/>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" id="" checked>
                                            <span> Homme </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Femme </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Autre </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cv">Curriculum Vitae</label>
                                        <input type="file" class="form-control-file" id="cv" name="cv">
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Votre Courriel *" id="email" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone"
                                        class="form-control" placeholder="Numéro de téléphone *" value="" id="phoneNumber"/>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden" id="securityQuestion" selected disabled>Svp choisi votre question de sécurité
                                        </option>
                                        <option>Date de naissance?</option>
                                        <option>WFilm Favori</option>
                                        <option>Nom de votre ami?</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Entrée votre réponse *"
                                        value="" id="answer" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btnRegister" value="Register" onclick="downloadAnswers()">
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Appliqué comme Embaucheur(euse)</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prenom *" id="lastName" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Courriel *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Phone *" value="" />
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de Passe *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirmé Mot De Passe *"
                                        value="" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden" selected disabled>Svp choisi votre question de sécurité
                                        </option>
                                        <option>Date de naissance?</option>
                                        <option>Film Favori</option>
                                        <option>Nom de votre ami?</option>
                                    </select>
                                </div>
                    
                                
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

    <script>
        function downloadAnswers() {
            console.log("button clicked");

            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var email = document.getElementById("email").value;
            var phoneNumber = document.getElementById("phoneNumber").value;
            var securityQuestion = document.getElementById("securityQuestion").value;
            var answer = document.getElementById("answer").value;
            var gender = document.querySelector('input[name="gender"]:checked').value;
            var cvFile = document.getElementById("cv").files[0];
    

            var answers = "First Name: " + firstName + "\n" +
                          "Last Name: " + lastName + "\n" +
                          "Password: " + password + "\n" +
                          "Confirm Password: " + confirmPassword + "\n" +
                          "Email: " + email + "\n" +
                          "Phone Number: " + phoneNumber + "\n" +
                          "Security Question: " + securityQuestion + "\n" +
                          "Answer: " + answer + "\n" +
                          "Gender: " + gender + "\n";
    

            var blob = new Blob([answers], { type: "text/plain;charset=utf-8" });
    

            var answersFile = document.createElement("a");
            answersFile.download = "user_answers.txt"; 
            answersFile.href = URL.createObjectURL(blob);
            answersFile.style.display = "none";
    

            document.body.appendChild(answersFile);
            answersFile.click();

            document.body.removeChild(answersFile);
    

            if (cvFile) {

                var cvFileAnchor = document.createElement("a");
                cvFileAnchor.download = cvFile.name; 
                cvFileAnchor.href = URL.createObjectURL(cvFile); 
                cvFileAnchor.style.display = "none";
    

                document.body.appendChild(cvFileAnchor);
                cvFileAnchor.click();
    

                document.body.removeChild(cvFileAnchor);
            }
        }
    

        document.getElementById("cv").addEventListener("change", function() {
            console.log("CV file selected:", this.files[0].name);
        });
    </script>
    
    
    
    
    <%- include("../partials/footer.ejs") %>