<%- include ("../partials/header.ejs") %>
  <div class="container">
    <div class="alert alert-warning alert-dismissible
    fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/24894dcb25.js" crossorigin="anonymous"></script>

    <style>
      body {
        background-color: #41455D;
      }

      .form-control {
        border-radius: 0;
      }

      .items_page {
        font-family: 'Khand';
        flex-direction: column;

        color: #FFFFFF;
      }

      .titre {
        font-size: 64px;
        text-align: center;
        margin-top: -30px;
      }

      .coordonnees {
        font-size: 32px;
      }

      .custom-inputs {
        background-color: #D9D9D9;
        width: 489px;
        height: 35px;
        border: none;
        display: block;
      }

      .custom_butt button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
      }

      .custom_butt button:hover svg circle {
        fill: #CCCCCC;
      }

      .custom_butt button:hover svg i {
        color: #0c0c0c;
      }
    </style>

    <div class=items_page>
      <div class="titre">SE CONNECTER AU LAB</div>


      <form method="post" action="/event/connect">
        <div class="form-group">
          <label style="margin-top: 100px;" class="coordonnees" for="exampleInputEmail1">Adresse Courriel</label>
          <input class="custom-inputs" type="email" class="form-control" id="exampleInputEmail1" placeholder="Courriel"
            aria-describedby="emailHelp">


          <div class="form-group">
            <label style="margin-top: 50px;" class="coordonnees" for="exampleInputPassword1">Mot de passe</label>
            <input class="custom-inputs" type="password" class="form-control" id="exampleInputPassword1"
              placeholder="Mot de passe">
          </div>
          <div class="form-group form-check">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label style="font-size: larger;" class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
          </div>
          <div>
            <a style="color: #FFFFFF; margin-left: -13px;" href="#" class="btn btn-link">
              Mot de passe oublié?
            </a>
          </div>

      </form>

      <div class="custom_butt">
        <button id="loginButton" type="button" class="btn btn-primary"
          style="background-color: transparent; border: none; color: inherit; cursor: pointer;" disabled>
          <svg style="position: absolute; top:59%; left: 48.6%; transform: translateX(-50%);">
            <circle cx="100" cy="100" r="23" fill="#D9D9D9" />
            <i style="position: absolute; margin-top: 24px; left: 46%; transform: translate(-50%, -50%); color: black;"
              class="fa-solid fa-arrow-right fa-xl"></i>
          </svg>
        </button>
      </div>

    </div>

    <script>
      function checkInputs() {
        var username = document.getElementById("exampleInputEmail1").value.trim();
        var password = document.getElementById("exampleInputPassword1").value.trim();
        var loginButton = document.getElementById("loginButton");

        var atIndex = username.indexOf("@");
        var isValidEmail = atIndex > 0 && atIndex < username.length - 1;

        if (isValidEmail && password !== "") {
          loginButton.removeAttribute("disabled");
        } else {
          loginButton.setAttribute("disabled", "disabled");
        }
      }

      document.getElementById("exampleInputEmail1").addEventListener("input", function () {
        checkInputs();
        if (!this.value.includes('@') && this.value !== '') {
          $(this).popover('show');
        } else {
          $(this).popover('hide');
        }
      });


      document.getElementById("exampleInputEmail1").addEventListener("focusout", function () {
        $(this).popover('hide');
      });

      document.getElementById("exampleInputPassword1").addEventListener("input", checkInputs);

      document.getElementById("loginButton").addEventListener("click", function () {
        // Retrieve email and password values
        var email = document.getElementById("exampleInputEmail1").value.trim();
        var password = document.getElementById("exampleInputPassword1").value.trim();

        // Send AJAX request to server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/event/connect", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Callback function for when the request completes
        xhr.onload = function () {
          if (xhr.status === 200) {
            // Redirect to index page if login is successful
            window.location.href = "/";
          } else {
            // Display error message or handle the error as needed
            console.error("Login failed:", xhr.responseText);
            // For example, show an alert
            alert("Login failed. Please check your email and password.");
          }
        };

        // Prepare the request body
        var data = JSON.stringify({ email: email, password: password });

        // Send the request
        xhr.send(data);
      });
    </script>



    <div style="margin-left: -13px;" class="container mt-4 d-flex align-items-center">
      <div style="color: white; margin-right: 15px;" class="mr-3">Pas de Compte?</div>
      <button onclick="window.location.href='/event/creationCompte'" type="button" class="btn btn-dark">Créer un
        compte</button>
    </div>



  </div>
  <% include ("../partials/footer") %>