<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3e4551"
            >

      <div class="container p-4 pb-0">


          <div class="row">
 
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">FOOTER CONTENT</h5>
  
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae modi cum ipsam ad, illo possimus laborum ut
                reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
                Reiciendis assumenda iusto sapiente inventore animi?
              </p>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">ACCÈS RAPIDES</h5>

  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/event/abonnement" class="text-white">Abonnements</a>
                </li>
                <li>
                  <a href="/event/boutique" class="text-white">Boutique</a>
                </li>
                <li>
                  <a href="/event/apropos" class="text-white">À Propos</a>
                </li>
                <li>
                  <a target="_blank" href="https://maps.app.goo.gl/QSkSDLHHyr6wMgEL9" class="text-white">Localisation</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/event/review" class="text-white">Les Commentaires</a>
                  </li>
                  <li>
                  <a href="/event/apply" class="text-white">Appliquer</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>

          </div>

        </section>

  
        <hr class="mb-4" />
  

        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Enregistrez-Vous gratuitement</span>
                <a href="/event/connect" class="btn btn-outline-light btn-rounded">Créer Compte!</a>
            </p>
        </section>
        

  
        <hr class="mb-4" />
  
        <section class="mb-4 text-center">
            <p  class="text-center"><a style="text-decoration: none; color: #FFFFFF;" href="#" onclick="scrollToTop()">Retourner en haut</a></p>
            
        </section>

        <hr class="mb-4" />

            <section class="mb-4 text-center">

                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
    
                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/labs_peak" role="button"><i class="fab fa-twitter"></i></a>

                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-google"></i></a>

                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/peaklabs1/" role="button"><i class="fab fa-instagram"></i></a>

                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://profile.indeed.com/p/peakl-x8sx448" role="button"><i class="fab fa-linkedin-in"></i></a>

                <a target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://github.com/DenisJuc/CoolKidsClub-Gym" role="button"><i class="fab fa-github"></i></a>
            </section>



      </div>


    </footer>

  </div>

  <script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>