<%- include ("../partials/header.ejs") %>
<div class="container">
    <div class="alert alert-warning alert-dismissible
    fade in" role="alert"> 
</div> 
<div class="titre">ACCUEIL</div>
<style>
	body {
		background-color: rgba(8, 16, 46, 0.77);
	}
</style>


<%- include ("../partials/footer.ejs") %>
